{% extends "base.html" %}

{% load static %}
{% block stylesheets %}
<link rel="'stylesheet" type="text/css" href="{% static 'news/style.css' %}">
{% endblock %}

<!-- Create Story -->
<main>

    {% if request.user.is_authenticated %}
    <!-- only load for users -->
    <form action="" method="post">
        {% csrf_token %}
        <table class="form_table">
            {{ form.as_p }}
        </table>
        <input type="submit" value="submit" class="submit_button">
<!--{% endif %}-->
    </form>

    {% else %}
        <!-- load for guests/visitors-->
        <img id="add imagein here" alt="add image description in here for visually impaired" src="{% static 'file like - such as news/images/dogimage.png' %}" />
        <button><a href="{% url 'login' %}">Login to Write a New Story</a></button>
    {% endif %}

</main>

{% endblock %}

<!--templates are all the html and how the data will look, python helps grab those stories -->

<!-- can only be seen when user is logged in, visitors are unable to see this, such as 'write a new story' - this will not appear if not logged in -->