{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

     <!-- how to define logged in user to only show if user is logged in-->
    {% if request.user.is_authenticated %}
        <a href="{% url 'news:newStory' %}">Write New Story</a> <!--% hides the write new story option, remove if you want it to appear-->
    {% endif %}
    
    <br>

    <div id="authors">
        {% if authors %}
            {% for author in authors %}
            <a href="{% url 'users:user_profile' author.id %}">{{ author }}</a> 
            {% endfor %}
        {% else %}
            <p>No authors are available.</p>
        {% endif %}
    </div>

<h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>


    <h2>All Stories</h2>

    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    


    
{% endblock %}