<!-- NEWS SETUP Step 13: Style how the story webpage looks-->
{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}

<main>
    <!-- STORY-->
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %)"> -->
        <img src="{{ story.image_url }}">
        {{ story.content|linebreaks }}
    </div>
    
    <!-- added edit story function -->
    <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
</div>

<!-- Stories by author section -->
    <div>
        {% if story_author %}
            {% for author in story_authors %}
                <a href="{% url 'users:user_profile' author.id %}">{{ author }}</a>
            {% endfor %}
        {% else %}
            <p>No authors</p>
        {% endif %}
    </div>


<!-- Comment -->
{% for comment in comments %}
<div>
    <p>
    {{ comment.name }} <!-- should it be comment_name or commenter?-->
    <span>
    {{ comment.created_on }}
    </span>
</p>
{{ comment.body | linebreaks }}
</div>
{% endfor %}
<div>
    {% if new_comment %}
        <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
        </div>
    {% else %}
        <h3>Leave a comment</h3>
        <form action="" method="post">
        {% csrf_token %}
        <table id="'form_table">
            {{ comment_form.as_table }}
        </table>
        <input type="submit" value="submit">
        </form>
    {% endif %}
</div>


{% endblock %}
<!--display only specific story, inside is placeholder photos-->


